# Implementation of Theorem 18 for the quadratic form $x^2 + (2z+1)y^2 = 128n(2z+1)^2$

# Library Importation

In [1]:
import sympy as sp
import pandas as pd
from IPython.display import display

# Class definitions and solution construction

## Diophantine Solver for $x^2 + (2z+1)y^2 = 128n(2z+1)^2$

In [2]:
class DiophantineSolver:
    def __init__(self, z: int, max_n: int = 50, max_solutions_per_n: int = 10):
        self.z = z
        self.max_n = max_n
        self.max_solutions_per_n = max_solutions_per_n
        self.x, self.y = sp.symbols('x y', integer=True)
        self.a = 2 * z + 1
        self.mod_val = 16 * self.a
        self.constraint = 8 * self.a
        self.results_df = pd.DataFrame(columns=["x", "y", "n"])

    def _satisfies_constraints(self, x_val, y_val):
        return (
            x_val >= 0 and
            y_val >= 0 and
            x_val % self.mod_val == self.constraint and
            y_val % self.mod_val == self.constraint
        )

    def _solve_for_n(self, n):
        rhs = 128 * n * self.a**2
        eq = sp.Eq(self.x**2 + self.a * self.y**2, rhs)
        try:
            solutions = sp.diophantine(eq)
            count = 0
            seen = set()

            for sol in solutions:
                if len(sol) != 2:
                    continue
                x_expr, y_expr = sol
                try:
                    x_val = int(x_expr.evalf())
                    y_val = int(y_expr.evalf())
                except (TypeError, ValueError):
                    continue

                if self._satisfies_constraints(x_val, y_val) and (x_val, y_val) not in seen:
                    self.results_df.loc[len(self.results_df)] = [x_val, y_val, n]
                    seen.add((x_val, y_val))
                    count += 1

                if count >= self.max_solutions_per_n:
                    break

        except Exception as e:
            print(f"Error solving for n = {n}: {e}")

    def solve(self):
        for n in range(1, self.max_n + 1):
            self._solve_for_n(n)
        return self.results_df

## Pell solver for $a^2 - 2b^2 = 2z+1$ and $u^2 - 2v^2 = -2$

In [3]:
class PellSolver:
    def __init__(self, z: int):
        self.z = z
        self.A, self.B = sp.symbols('a b', integer=True)
        self.U, self.V = sp.symbols('u v', integer=True)
        self.results = {}

    def _extract_sample_solution(self, solns):
        for sol in solns:
            if all(expr.free_symbols == set() for expr in sol):
                return tuple(abs(int(expr)) for expr in sol)
            else:
                params = set()
                for expr in sol:
                    params.update(expr.free_symbols)
                subs = {param: 1 for param in params}
                try:
                    return tuple(abs(int(expr.subs(subs).evalf())) for expr in sol)
                except Exception:
                    continue
        return None

    def solve_pell_equation_1(self):
        rhs = 2 * self.z + 1
        eq1 = sp.Eq(self.A**2 - 2 * self.B**2, rhs)
        solns1 = sp.diophantine(eq1)
        self.results['eq1'] = self._extract_sample_solution(solns1)

    def solve_pell_equation_2(self):
        eq2 = sp.Eq(self.U**2 - 2 * self.V**2, -2)
        solns2 = sp.diophantine(eq2)
        self.results['eq2'] = self._extract_sample_solution(solns2)

    def solve(self):
        self.solve_pell_equation_1()
        self.solve_pell_equation_2()
        return self.results

## Solution triple construction w.r.t Theorem 18

In [4]:
def generate_triples_extended(dio_solver, pell_sol1, pell_sol2, iterations=5):
    a, b = pell_sol1
    u0, v0 = pell_sol2
    u, v = u0, v0

    # Transformation matrix T
    T = sp.Matrix([[3, 4], [2, 3]])
    vec = sp.Matrix([u, v])

    all_triples = pd.DataFrame()

    for k in range(iterations):
        label = f"({vec[0]},{vec[1]})"

        triples = []

        for idx, row in dio_solver.results_df.iterrows():
            x, y, n = row['x'], row['y'], row['n']

            denom = 16 * (2 * dio_solver.z + 1)
            numer_const = 8 * (2 * dio_solver.z + 1)

            x_k = (x - numer_const) / denom
            y_k = (y - numer_const) / denom

            if not (x_k.is_integer() and y_k.is_integer()):
                continue

            x_k, y_k = int(x_k), int(y_k)

            term1 = (2 * y_k + 1) * (b * vec[0] + a * vec[1])
            term2 = (2 * x_k + 1)

            X = (term1 + term2) // 2
            Y = (term1 - term2) // 2
            Z = ((2 * y_k + 1) * (a * vec[0] + 2 * b * vec[1])) // 2

            triples.append({'x': x, 'y': y, 'n': n, label: (X, Y, Z)})

        if triples:
            triples_df = pd.DataFrame(triples)
            if all_triples.empty:
                all_triples = triples_df
            else:
                all_triples = pd.merge(all_triples, triples_df, on=['x', 'y', 'n'], how='outer')

        vec = T @ vec

    return all_triples

# User input, initlization, and dataframe display

In [5]:
def run_full_solver():
    z = int(input("Enter z: "))
    max_n = int(input("Enter max_n: "))
    max_solutions_per_n = int(input("Enter max_solutions_per_n: "))
    iterations = int(input("Enter number of iterations for matrix multiplication: "))

    dio_solver = DiophantineSolver(z=z, max_n=max_n, max_solutions_per_n=max_solutions_per_n)
    dio_solver.solve()

    pell_solver = PellSolver(z=z)
    pell_results = pell_solver.solve()

    if not pell_results.get('eq1') or not pell_results.get('eq2'):
        print("No Pell solutions found.")
        return pd.DataFrame()

    a, b = map(abs, pell_results['eq1'])
    u, v = map(abs, pell_results['eq2'])

    T = sp.Matrix([[3, 4], [2, 3]])
    uv_vec = sp.Matrix([[u], [v]])

    for _ in range(iterations):
        u_n, v_n = int(uv_vec[0]), int(uv_vec[1])
        triples = []

        for _, row in dio_solver.results_df.iterrows():
            x, y, n = row['x'], row['y'], row['n']
            denom = 16 * (2 * z + 1)
            numer_const = 8 * (2 * z + 1)

            x_k = (x - numer_const) / denom
            y_k = (y - numer_const) / denom

            if not (x_k.is_integer() and y_k.is_integer()):
                triples.append(None)
                continue

            x_k = int(x_k)
            y_k = int(y_k)

            term1 = (2 * y_k + 1) * (b * u_n + a * v_n)
            term2 = (2 * x_k + 1)

            X = (term1 + term2) // 2
            Y = (term1 - term2) // 2
            Z = ((2 * y_k + 1) * (a * u_n + 2 * b * v_n)) // 2

            triples.append((X, Y, Z))

        col_name = f"({u_n},{v_n})"
        dio_solver.results_df[col_name] = triples
        uv_vec = T @ uv_vec

    return dio_solver.results_df

## Run Output

In [6]:
final_df = run_full_solver()
display(final_df)  # Use display() if in a Jupyter environment, or print(final_df) otherwise

,x,y,n,"(4,3)","(24,17)","(140,99)","(816,577)","(4756,3363)"
0,56,56,4,"(38, 37, 53)","(219, 218, 309)","(1274, 1273, 1801)","(7423, 7422, 10497)","(43262, 43261, 61181)"
1,168,56,8,"(39, 36, 53)","(220, 217, 309)","(1275, 1272, 1801)","(7424, 7421, 10497)","(43263, 43260, 61181)"
2,280,56,16,"(40, 35, 53)","(221, 216, 309)","(1276, 1271, 1801)","(7425, 7420, 10497)","(43264, 43259, 61181)"
3,392,56,28,"(41, 34, 53)","(222, 215, 309)","(1277, 1270, 1801)","(7426, 7419, 10497)","(43265, 43258, 61181)"
4,56,168,32,"(113, 112, 159)","(656, 655, 927)","(3821, 3820, 5403)","(22268, 22267, 31491)","(129785, 129784, 183543)"
5,168,168,36,"(114, 111, 159)","(657, 654, 927)","(3822, 3819, 5403)","(22269, 22266, 31491)","(129786, 129783, 183543)"
6,504,56,44,"(42, 33, 53)","(223, 214, 309)","(1278, 1269, 1801)","(7427, 7418, 10497)","(43266, 43257, 61181)"
7,392,168,56,"(116, 109, 159)","(659, 652, 927)","(3824, 3817, 5403)","(22271, 22264, 31491)","(129788, 129781, 183543)"
8,616,56,64,"(43, 32, 53)","(224, 213, 309)","(1279, 1268, 1801)","(7428, 7417, 10497)","(43267, 43256, 61181)"
9,504,168,72,"(117, 108, 159)","(660, 651, 927)","(3825, 3816, 5403)","(22272, 22263, 31491)","(129789, 129780, 183543)"
10,728,56,88,"(44, 31, 53)","(225, 212, 309)","(1280, 1267, 1801)","(7429, 7416, 10497)","(43268, 43255, 61181)"
11,168,280,92,"(189, 186, 265)","(1094, 1091, 1545)","(6369, 6366, 9005)","(37114, 37111, 52485)","(216309, 216306, 305905)"
12,280,280,100,"(190, 185, 265)","(1095, 1090, 1545)","(6370, 6365, 9005)","(37115, 37110, 52485)","(216310, 216305, 305905)"
13,392,280,112,"(191, 184, 265)","(1096, 1089, 1545)","(6371, 6364, 9005)","(37116, 37109, 52485)","(216311, 216304, 305905)"
14,728,168,116,"(119, 106, 159)","(662, 649, 927)","(3827, 3814, 5403)","(22274, 22261, 31491)","(129791, 129778, 183543)"
15,504,280,128,"(192, 183, 265)","(1097, 1088, 1545)","(6372, 6363, 9005)","(37117, 37108, 52485)","(216312, 216303, 305905)"
16,840,168,144,"(120, 105, 159)","(663, 648, 927)","(3828, 3813, 5403)","(22275, 22260, 31491)","(129792, 129777, 183543)"
17,616,280,148,"(193, 182, 265)","(1098, 1087, 1545)","(6373, 6362, 9005)","(37118, 37107, 52485)","(216313, 216302, 305905)"
18,728,280,172,"(194, 181, 265)","(1099, 1086, 1545)","(6374, 6361, 9005)","(37119, 37106, 52485)","(216314, 216301, 305905)"
19,952,168,176,"(121, 104, 159)","(664, 647, 927)","(3829, 3812, 5403)","(22276, 22259, 31491)","(129793, 129776, 183543)"
20,280,392,184,"(265, 260, 371)","(1532, 1527, 2163)","(8917, 8912, 12607)","(51960, 51955, 73479)","(302833, 302828, 428267)"
21,392,392,196,"(266, 259, 371)","(1533, 1526, 2163)","(8918, 8911, 12607)","(51961, 51954, 73479)","(302834, 302827, 428267)"
22,840,280,200,"(195, 180, 265)","(1100, 1085, 1545)","(6375, 6360, 9005)","(37120, 37105, 52485)","(216315, 216300, 305905)"
23,1064,168,212,"(122, 103, 159)","(665, 646, 927)","(3830, 3811, 5403)","(22277, 22258, 31491)","(129794, 129775, 183543)"
24,1176,56,224,"(48, 27, 53)","(229, 208, 309)","(1284, 1263, 1801)","(7433, 7412, 10497)","(43272, 43251, 61181)"
25,616,392,232,"(268, 257, 371)","(1535, 1524, 2163)","(8920, 8909, 12607)","(51963, 51952, 73479)","(302836, 302825, 428267)"
26,1176,168,252,"(123, 102, 159)","(666, 645, 927)","(3831, 3810, 5403)","(22278, 22257, 31491)","(129795, 129774, 183543)"
27,728,392,256,"(269, 256, 371)","(1536, 1523, 2163)","(8921, 8908, 12607)","(51964, 51951, 73479)","(302837, 302824, 428267)"
28,1288,56,268,"(49, 26, 53)","(230, 207, 309)","(1285, 1262, 1801)","(7434, 7411, 10497)","(43273, 43250, 61181)"
29,56,504,284,"(338, 337, 477)","(1967, 1966, 2781)","(11462, 11461, 16209)","(66803, 66802, 94473)","(389354, 389353, 550629)"
30,168,504,288,"(339, 336, 477)","(1968, 1965, 2781)","(11463, 11460, 16209)","(66804, 66801, 94473)","(389355, 389352, 550629)"
31,280,504,296,"(340, 335, 477)","(1969, 1964, 2781)","(11464, 11459, 16209)","(66805, 66800, 94473)","(389356, 389351, 550629)"